<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        <div id="navbar">
            <ul>
                {# define navbar block #}
                {% block navbar %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                {% endblock %}
            </ul>

        </div>

        {# include the controller #}
        <div id="sidebar">
            {{ render(controller(
            'AppBundle:Article:recentArticles',
            {'max':3} )) }}
        </div>

        <div id="content">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}


        {% block debug %}
            {% if app.user and is_granted('ROLE_ADMIN') %}
                <p>Username: {{ app.user.username }}</p>
                $app.is_granted
                {% if app.debug %}
                    <p>Request method: {{ app.request.method }}</p>
                    <p>Application Environment: {{ app.environment }}</p>
                {% endif %}
            {% endif %}
        {% endblock %}

    </body>
</html>
